manifest {
    name            = 'nextflow-rna-methy-omics-data-analysis'
    author          = 'weiqiuxia'
    description     = 'Nextflow SeekGene RNA-MET data analysis pipeline'
    version         = '1.0.0'
    nextflowVersion = '>=21.04.0'
    mainScript      = 'main.nf'
}

plugins {
    id 'nf-float@0.4.7'
    id 'nf-k8s@1.2.2'
}

resume = true
cleanup = false
trace {
    enabled = true
    file    = 'execution_trace.txt'
    overwrite = true
}

report {
    enabled = true
    file    = 'execution_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file    = 'execution_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file    = 'pipeline_dag.html'
    overwrite = true
}

profiles {
    // Kubernetes
    aliyun_k8s {
        process.executor = 'k8s'
        k8s {
            namespace = 'nextflow'
            serviceAccount = 'default'
            storageClaimName = 'nextflow-proj2-pvc'
            storageMountPath = '/PROJ2/'
            imagePullPolicy = 'IfNotPresent'
            debug {
                yaml = true
            }
        }
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /PROJ2:/PROJ2'
    }
}


process {
    container = 'registry-vpc.cn-beijing.aliyuncs.com/seekgene/seeksoulmethyl:1.0.5'
    cpus      = 2
    memory    = '4.GB'
    errorStrategy = 'retry'
    maxRetries = 3

    withName: 'COMPUTE_CPG_SITES' {
        cpus = 2
        memory = '10 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-8Gi']
                ]
            }
    }

    withName: 'FASTP_EXPRESSION_MULTI' {
        cpus = 16
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '16-64Gi']
                ]
            }
    }

    withName: 'FASTP_METHYLATION_MULTI' {
        cpus = 16
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '16-64Gi']
                ]
            }
    }

    withName: 'MERGE_SAMPLE_DATA' {
        cpus = 8
        memory = '10 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '4-8Gi']
                ]
            }
    }

    withName: 'FASTP_EXPRESSION' {
        cpus = 20
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '16-64Gi']
                ]
            }
    }

    withName: 'FASTP_METHYLATION' {
        cpus = 16
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '16-64Gi']
                ]
            }
    }

    withName: 'SEEKSOULTOOLS_RNA' {
        cpus = 16
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '16-64Gi']
                ]
            }
    }

    withName: 'METHYLATION_BARCODE_EXTRACTION' {
        cpus = 64
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '32-64Gi']
                ]
            }
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT' {
        cpus = 6
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '8-32Gi']
                ]
            }
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_F' {
        cpus = 6
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '8-32Gi']
                ]
            }
    }

    withName: 'FASTP_METHYLATION_BARCODE_EXTRACT_R' {
        cpus = 6
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '8-32Gi']
                ]
            }
    }

    withName: 'SORT_BAM_BY_NAME' {
        cpus = 10
        memory = '12 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '12-48Gi']
                ]
            }
    }

    withName: 'SORT_BAM_BY_NAME_F' {
        cpus = 10
        memory = '12 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '12-48Gi']
                ]
            }
    }

    withName: 'SORT_BAM_BY_NAME_R' {
        cpus = 10
        memory = '12 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '12-48Gi']
                ]
            }
    }

    withName: 'SPLIT_BAM_FILES' {
        cpus = 4
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '4-16Gi']
                ]
            }
    }
    
    withName: 'SPLIT_BAM_FILES_F' {
        cpus = 4
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '4-16Gi']
                ]
            }
    }

    withName: 'SPLIT_BAM_FILES_R' {
        cpus = 4
        memory = '20 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '4-16Gi']
                ]
            }
    }

    withName: 'PARSE_FASTQ_FILES' {
        cpus = 2
        memory = '4 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-4Gi']
                ]
            }
    }
    
    withName: 'CREATE_FORWARD_PAIRS' {
        cpus = 2
        memory = '4 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-4Gi']
                ]
            }
    }

    withName: 'CREATE_REVERSE_PAIRS' {
        cpus = 2
        memory = '4 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-4Gi']
                ]
            }
    }

    withName: 'BISMARK_ALIGNMENT_FORWARD' {
        cpus = 36
        memory = '60 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '48-96Gi']
                ]
            }
    }

    withName: 'BISMARK_ALIGNMENT_REVERSE' {
        cpus = 36
        memory = '60 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '48-96Gi']
                ]
            }
    }

    withName: 'MERGE_FILTERED_BARCODE_READS_COUNTS' {
        cpus = 2
        memory = '4 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-4Gi']
                ]
            }
    }

    withName: 'ALLCOOLS_BAM_TO_ALLC' {
        cpus = 32
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '32-64Gi']
                ]
            }
    }

    withName: 'ALLCOOLS_GENERATE_DATASETS' {
        cpus = 64
        memory = '64 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '64-128Gi']
                ]
            }
    }

    withName: 'ALLCOOLS_MERGE' {
        cpus = 60
        memory = '150 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '64-256Gi']
                ]
            }
    }

    withName: 'ALLCOOLS_EXTRACT' {
        cpus = 2
        memory = '10 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-8Gi']
                ]
            }
    }

    withName: 'METHYLATION_SUMMARY' {
        cpus = 2
        memory = '10 GB'
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '2-8Gi']
                ]
            }
    }

    withName: 'METHYLATION_LSI_PCA_CLUSTERING' {
        cpus = 4
        memory = '16 GB'
        maxForks = 1
        pod = {
                task.attempt <= 2 ? 
                [
                    [annotation: 'k8s.aliyun.com/eci-spot-strategy', value: 'SpotAsPriceGo']
                ]:
                [
                    [annotation: 'k8s.aliyun.com/eci-use-specs', value: '4-16Gi']
                ]
            }
    }

}
